<figure>
  <a href="{{ .Destination | safeURL }}" class="glightbox" data-gallery="post-gallery">
    {{ $width := "" }}
    {{ $height := "" }}

    {{/* Only try GetMatch if this page is a bundle */}}
    {{ if eq .Page.Kind "page" }}
      {{ with .Page.Resources.GetMatch (path.Base .Destination) }}
        {{ $width = printf "%d" .Width }}
        {{ $height = printf "%d" .Height }}
      {{ end }}
    {{ end }}

    <img
      src="{{ .Destination | safeURL }}"
      alt="{{ .Text }}"
      {{ if $width }} width="{{ $width }}"{{ end }}
      {{ if $height }} height="{{ $height }}"{{ end }}
      loading="lazy"
    />
  </a>
  {{ with .Text }}
    <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>
