/** THEME (copied from theme-vars.css **/

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}


/** HEADER AREA **/

/* Add fa icons beside search text */
a[title^='Search']::after {
    content: "\f002";
    font-family: "FontAwesome";
    font-size: smaller;
    margin-left: 0.5em; /* spacing between icon and text */
}


/** FRONT PAGE **/

.profile {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.profile_inner > h1 {
    display: none;
}

/* Recent post list under profile section */
@media screen and (min-width: 769px) {
    .recent-posts-list {
        display: flex;
        gap: 10px;
    }
    .recent-posts-list .post-entry {
        margin-bottom: unset;
    }
}
.recent-posts > a {
    font-size: small;
    font-style: italic;
}
.recent-posts-list .card-body {
    font-size: 14px;
}
.recent-posts-list .card-body-meta {
    font-size: 12px;
    font-style: italic;
}
.recent-posts-list .entry-cover img {
    border-radius: var(--radius);
}

/** POSTS **/

/* Color the comment count the same as other text near it */
hyvor-talk-comment-count {
    color: var(--secondary);
}

.modifiedDate {
    font-style: italic;
    font-size: smaller;
}

/* Caption under the cover image at top of post */
.entry-cover figcaption,
.entry-cover figcaption a {
    box-shadow: none;
    color: gray;
    font-style: italic;
}
.entry-cover figcaption a {
    text-decoration: underline;
}

/* Center images in posts */
.post-content img {
    margin: auto;
}

.post-content figure > figcaption {
    font-size: small;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

#TableOfContents {
    font-size: smaller;
}

/* Bulleted lists aren't indented enough */
.post-content li {
    margin-left: 15px;
}

/* The body text was defaulting to 18px, and looked too big */
.post-content {
    font-size: 16px;
}


/** FOOTER AREA **/

/* Titles for sections at end of post, like near comments area */
.post-footer-section {
    align-items: center;
    display: flex;
    font-weight: bold;
    padding-top: 30px;
    text-transform: uppercase;
}
.post-footer-section:after {
    background-color: #ccc;
    content: "";
    flex-grow: 1;
    height: 1px;
    margin: 0px 0px 0px 16px;
}

/* Links at bottom of footer area */
.footer > span:first-child > a {
    margin-left: 2px;
}

.footer_links {
    margin-bottom: 10px;
}
.footer_links > a:not(:first-child):not(:last-child) {
    margin-right: 1px;
}
.footer_links > a:last-child {
    margin-left: 1px;
}
