.post-footer-section {
    align-items: center;
    display: flex;
    font-weight: bold;
    padding-top: 30px;
    text-transform: uppercase;
}

.post-footer-section:after {
    background-color: #ccc;
    content: "";
    flex-grow: 1;
    height: 1px;
    margin: 0px 0px 0px 16px;
}
