/* Headers for sections at end of post, like comments area */

.post-footer-section {
    align-items: center;
    display: flex;
    font-weight: bold;
    padding-top: 30px;
    text-transform: uppercase;
}

.post-footer-section:after {
    background-color: #ccc;
    content: "";
    flex-grow: 1;
    height: 1px;
    margin: 0px 0px 0px 16px;
}

/* Color the comment count the same as other text near it */

hyvor-talk-comment-count {
    color: var(--secondary);
}

/* Add fa icons beside text */

a[title^='Search']::before {
    content: "\f002";
    font-family: "FontAwesome";
    margin-right: 0.5em; /* spacing between icon and text */
}
