#sunmoonpic {
    margin: auto;
    height: 400px;
    width: 400px;
    background-image: url("https://grantwinney.com/how-to-make-a-dark-mode-with-css/sun.png");
    background-size: 360px 360px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (prefers-color-scheme: light),
(prefers-color-scheme: no-preference) {
    #sunmoonpic {
        background-color: skyblue;
        background-image: url("https://grantwinney.com/how-to-make-a-dark-mode-with-css/sun.png");
    }
}

@media (prefers-color-scheme: dark) {
    #sunmoonpic {
        background-color: midnightblue;
        background-image: url("https://grantwinney.com/how-to-make-a-dark-mode-with-css/moon.png");
    }
}