:where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)) strong
{
    font-size: 1.1em;
}

table td:nth-child(1) {
    vertical-align: top;
    width:50px;
}

table td:nth-child(1) figure {
    margin-top: 0px;
    padding-top: 10px;
}

table td:nth-child(2) {
    padding-left: 15px;
    padding-top: 12px;
}