<div id="comments">
    <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
    <hyvor-talk-comments website-id="906" page-id="{{.Params.Slug}}"></hyvor-talk-comments>
</div>
<script src="https://talk.hyvor.com/embed/comment-counts.js"></script>
<script>
    hyvorTalkCommentCounts.load({
    "mode": "number",
    "website-id": 906
    },
    function(count, el) {
    return count == 0 ? "" :
        `&nbsp;·&nbsp;<i class="fa fa-comment"></i> ${count} ${count == 1 ? "Comment" : "Comments"}`
    })
</script>
