<div id="comments">
    <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
    <hyvor-talk-comments website-id="906" page-id="{{.Params.Slug}}"></hyvor-talk-comments>
</div>
<script src="https://talk.hyvor.com/embed/comment-counts.js"></script>
<script>
    hyvorTalkCommentCounts.load({
        "website-id": 906,
        "mode": "text",
        "language": "en"
        },
        function(count, el) {
            return count === "0 Comments" ? "" : `<span class="mid">&middot;</span>${count}`
        })
</script>
